*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    background-size: 300% 300%;
	animation: gradient 10s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p{
    text-align: center;
    color: #34355B;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

p{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
}

.frase{
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    color: black;
    width: 27.3rem;
    padding: 1rem;
    margin: 0 auto;
    background-color: #E4EDF1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main{
    width: 428px;
    
}

main > div{
    background: #fff;   
    min-height: 424px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    gap: 1.7rem;
    padding: 4.8rem 6.4rem;
}

main .inicial img{
    width: 300px;
    margin: 0 auto;
}

main .final img{
    width: 264px;
    margin: 0 auto;
}

.final button{
    background: #FF9500;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.5rem;
    font-family: DM Sans;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding: 1.6rem;
}

.final img{
    padding: 4.2rem 0px;
}

.hidden{
    display: none;
}

#biscoito:hover {
    animation: shake infinite 0.5s;
}

.final:not(hidden) .frase{
    animation: revelar 1.0s linear 0.1s 1 backwards;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes revelar {
    0%{
        transform: translateY(150px) scale(0.1);
    }
    100%{
        transform: translateY(0) scale(1);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}